html, body {
    height: 100%;
    background-color: #f6eeee;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
	text-align: center;

	padding-top: 10vh;
}